@model DogRallyManager.ViewModels.RegisterUserVM

@{
    ViewData["Title"] = "Register"; 
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rally Dog Manager - Register</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>      
        <form id="register-form" method="post">
            <div class="form-logo"></div>

            <input type="text" placeholder="Username" asp-for="UserName" required />
            <span asp-validation-for="UserName" class="text-danger"></span>
            <input type="email" placeholder="E-mail" asp-for="Email" required />
            <span asp-validation-for="Email" class="text-danger"></span>
            <input type="password" placeholder="Password"  asp-for="Password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
            <input type="password" placeholder="Confirm password" asp-for="ConfirmPassword" required />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            <input type="submit" asp-action="RegisterUser" value="Sign Up" />

            <a href="/account" style="color: blue;"><p id="sign-up">Cancel</p></a>
        </form>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>