@using DogRallyManager.Entities;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<RallyUser> userManager;

@{
    ViewData["Title"] = "Your Page";
    var user = await userManager.GetUserAsync(User);
    var userEmail = await userManager.GetEmailAsync(user);
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/board.css" />
    <link rel="stylesheet" href="~/css/chat.css" />
    <link rel="stylesheet" href="~/css/yourpage.css" />

    <script src="~/js/include.js"></script>
    <script src="~/js/toggleClass.js"></script>
</head>
<body>
    <header>
        <a href="/Account/YourPage"><div class="header-logo-dog"></div><div class="header-logo-txt"></div></a>
        <nav class="header-nav"><a class="current-page" href="#">Your Page</a><a href="/Boards">Boards</a><a href="/Account/Logout">Log Out</a><a href="/Chat">Chat</a><a href="/SearchUser">Search for a user</a></nav>
        <div class="clear"></div>
    </header>

    <main id="main-your-page">
        <section id="account-information">
            <h2>Account Information</h2>
            <div class="flex-container">
                <div id="profile-picture" class="flex-item" alt="Profile picture or avatar."><label><input type="file" accept="image/*" /><div class="upload-image"></div></label></div>
                <div id="personal-information" class="flex-item">
                    <p class="information" id="username">@User.Identity.Name</p>
                    <p class="information "id="e-mail">@userEmail</p>
                    <div class="edit"></div>
                </div>
            </div>
        </section>

        <section id="dog-schedule">
            <h2>Dog Schedule</h2>
            <div class="flex-container">
                <div id="plans" class="flex-container">
                    <div id="plan-one" class="plan"><p>01/02/2025: Hundetræning i skovparken</p></div>
                    <div id="plan-two" class="plan">07/04/2025: Rally i Hillerød</div>
                    <div id="plan-three" class="plan">10/08/2025: Rex's fødselsdag</div>
                    <div id="plan-four" class="plan-last">12/08/2025: Tiny gets fixed.</div>
                </div>
            </div>
        </section>

        <section class="section-last">
            <h2>My Dogs</h2>
            <div class="flex-container">
                <div id="dogs">
                    <div id="dog-one" class="dog">
                        <div class="dog-img" alt="Dog one." style="background-image: url('/images/Dogs/hund_1.png');"></div>
                        <p>Name: Adele</p>
                        <p>Race: Danish spitz</p>
                        <p>Age: 13</p>
                    </div>
                    <div id="dog-two" class="dog">
                        <div class="dog-img" alt="Dog two." style="background-image: url('/images/Dogs/hund_2.png');"></div>
                        <p>Name: Rex</p>
                        <p>Race: German shephard</p>
                        <p>Age: 7</p>
                    </div>
                    <div id="dog-three" class="dog">
                        <div class="dog-img" alt="Dog three." style="background-image: url('/images/Dogs/hund_3.png');"></div>
                        <p>Navn: Tiny</p>
                        <p>Race: German Rottweiler</p>
                        <p>Age: 5</p>
                    </div>
                    <div id="dog-four" class="dog">
                        <div class="dog-img" alt="Dog Four." style="background-image: url('/images/Dogs/Hund_4.png');"></div>
                        <p>Navn: Smoky</p>
                        <p>Race: Dalmatian</p>
                        <p>Age: 5</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p id="copyright">Copyright &copy; @DateTime.Now.Year Dog Rally Manager A/S. All rights reserved.</p>
    </footer>

    <!-- Include Bootstrap JS files -->
    <script>include();</script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>