@using Microsoft.AspNetCore.Identity
@inject UserManager<RallyUser> userManager;
@{
    ViewData["Title"] = "Your Page";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/board.css" />
    <link rel="stylesheet" href="~/css/chat.css" />
    <link rel="stylesheet" href="~/css/yourpage.css" />

    <script src="~/js/include.js"></script>
    <script src="~/js/toggleClass.js"></script>
</head>
<body>
    <header>
        <a href="/Account/YourPage"><div class="header-logo-dog"></div><div class="header-logo-txt"></div></a>
        <nav class="header-nav"><a class="current-page" href="#">Your Page</a><a href="/Boards">Boards</a><a href="/Account/Logout">Log Out</a></nav>
        <div class="clear"></div>
    </header>

    <main id="main-your-page">
        <div class="flex-container">
            <img id="profile-picture" class="flex-element" src="~/Images/genericProfilePic.png"  />
            <div id="personal-information" class="flex-element">
                <h2>Personal Information</h2>
                <p id="username">@User.Identity.Name</p>
                <p id="e-mail">@User.Identity.Email</p>
            </div>
             <div id="plans" class="flex-container">
                <h2>Rally Plans</h2>
                <div id="plan-one" class="plan"></div>
                <div id="plan-two"class="plan"></div>
                <div id="plan-three" class="plan"></div>
                <div id="plan-four" class="plan"></div>
                <div id="=plan-five" class="plan"></div>
            </div>
        </div>
        <div class="dog-container" id="dogs">
            <h3>My Dogs</h3>
            <div class="dog" id="dog-one">
                <img src="~/images/Dogs/Hund_1.png" alt="Dog One">
                <p>Race: Danish spitz</p>
                <p>Name: Adele</p>
                <p>Age: 13</p>
            </div>
            <div class="dog" id="dog-two">
                <img src="~/images/Dogs/Hund_2.png" alt="Dog Two">
                <p>Race: German shephard</p>
            </div>
            <div class="dog" id="dog-three">
                <img src="~/images/Dogs/Hund_3.png" alt="Dog Three">
                <p>Race: Rotweiler</p>
            </div>
            <div class="dog" id="dog-four">
                <img src="~/images/Dogs/Hund_4.png" alt="Dog Four">
                <p>Race: Dalmatian</p>
            </div>
        </div>
    </main>

    <footer>
        <p>This is the footer, which will be implemented, as the header will, as an include across the logged in pages.</p>
    </footer>

<div include="/components/chat.html"></div>

    <!-- Include Bootstrap JS files -->
    <script>include();</script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>