@{
    ViewData["Title"] = "Index";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Rally Dog Manager - @ViewData["Title"]</title >
        
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>
        <div id="drm-logo-loading"></div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <div id="chase"><p>Chasing and barking a squirrel up a tree</p><p id="dot-one">.</p><p id="dot-two">.</p><p item id="dot-three">.</p></div>

        <script>
            // Redirects to the Log In page after 4 seconds.
            setTimeout(function() {
                window.location.href = '/Account';
            }, 4000);
        </script>
    </body>
</html>