@using Microsoft.AspNetCore.Identity;
@using DogRallyManager.Entities;
@inject UserManager<RallyUser> userManager;
@model DogRallyManager.Entities.ChatRoom?;

<div id="chat" class="chat-minimized" onclick="toggleClass('chat', 'chat-minimized', 'chat-expanded')">
    <div id="chat-notifications" class="chat-unread"><p id="unread-amount">17</p></div>
    <div id="chat-window">
        <ul id="chat-history">
                @if (Model != null && Model.ChatMessages.Any() )
                {
                    @foreach (var message in Model.ChatMessages)
                    {
                        if(message.Sender.UserName == User.Identity.Name)
                        {
                            <li class="message-sent">@message</li>
                        }
                        else
                        {
                            <li class="message-response">@message</li>
                        }
                    }
                }   
        </ul>
    </div>
    <div>
        <input id="chat-write" type="text" />
        <button class="send-button" data-chatroomid="@Model.Id"> </button>
    </div>
</div>

    <script>

        $(document).ready(function () {
            $.ajaxSetup({
                // This is for the preflight request made from the browser, saying to the
                // CORS-guards of the SignalR app that HEY ITS OKAY DONT SHUT DOWN LET US IN !
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Access-Control-Allow-Origin', 'https://localhost:7142');
                    xhr.setRequestHeader('Access-Control-Allow-Credentials', 'true');
                }
            });

            // Connection being established to the chathub url that was mapped in the signalR-app.
            // That is indeed the rooturl of where the signalr app is hosted, with the appended
            // signalR endpoint
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("https://localhost:7204/chatHub")
                .build();

            connection.start()
                .then(() => console.log("SignalR connection established"))
                .catch((err) => {
                    return console.error(err.toString());
                });

            // Handle click event on send button
            $(".send-button").click(function () {
                var currentChatRoomId = $(this).data("chatroomid");
                console.log("Send button clicked and chatroomid variable is: " + currentChatRoomId);
                var message = $("#chat-write").val();
                var user = "@User.Identity.Name";
                console.log("variables loaded");
                console.log("send button function finished");

            
                connection.invoke("SendMessage", user, message, currentChatRoomId)
                .catch(err => console.error(err));

                $.ajax({
                    url: "/Chat/SendMessage",
                    type: "POST",
                    data: { messageBody: message, chatRoomId: currentChatRoomId },
                    success: function (response) {
                        if (response.success) {
                            console.log(response.message);
                        } else {
                            console.error("Error: " + response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error sending message: " + error);
                    }
                });
            // Handle incoming message event from SignalR hub
            connection.on("ReceiveMessage", (user, message, chatroomId) => {
                // Append the received message to the message container
                console.log("ReceiveMessage has been invoked");
                $("#chat-history").append(<li> user + ": " + message </li>);
                var messageContainer = document.getElementById("#chat-history");
                messageContainer.scrollTop = messageContainer.scrollHeight;
            });
                </script>
