@using DogRallyManager.Entities
@using Microsoft.AspNetCore.Identity;
@inject UserManager<RallyUser> userManager;
@model DogRallyManager.ViewModels.ChatVMs.ChatRoomVM

<div id="chat" class="chat-minimized" onclick="toggleClass('chat', 'chat-minimized', 'chat-expanded')">
    <div id="chat-notifications" class="chat-unread"><p id="unread-amount">17</p></div>
    <div id="chat-window">
        <ul id="chat-history">
            @foreach (var message in Model.ChatMessages)
            {
                @if (message.Sender.UserName == User.Identity.Name)
                {
                    <li class="message-sent">@message</li>
                }
                else
                {
                    <li class="message-response">This is an example of a response from another user.</li> <!-- Messages from other users has class .message-response. -->
                }
            }
        </ul>
    </div>
    <div>
        <input id="chat-write" type="text" />
        <button id="chat-send" type="submit">Send</button>
    </div>
</div>