/* Board */

* {
    padding: 0px;
    border: 0px;
    margin: 0px;

    max-width: none !important;
}

body {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0px !important;
    margin: 0px !important;
}

main {
    width: 100%;
    height: 100%;
    padding: 0px !important;
    margin: 0px !important;
}

main .pb-3 {
    width: 100%;
    height: 100%;
    padding-bottom: 0px !important;
    margin: 0px !important;
}

#boards-section {
    width: 100%;
    height: 100%;

    padding: 0px !important;
}

    #boards-panel {
        width: 100%;
        height: 180px;

        padding: 10px;

        background-color: rgb(230, 230, 230);
    }

        #signs {
            width: 720px;
            height: 160px;

            padding: 16px;
            border: 1px solid black;

            overflow-y: scroll;

            background-color: rgb(255, 255, 255);
        }

    #board {
        width: 100%;
        height: calc(100% - 180px);
        background-image: url('/Images/grass-texture-repeat.jpg');
        background-repeat: repeat;
        background-size: 200px;
    }

        #board-lines {
            width: 100%;
            height: 100%;

            position: relative;

            background-color: transparent;
        }

            #grass-logo {
                width: 200px;
                height: 200px;

                position: absolute;
                top: calc(50% - 100px);
                left: calc(50% - 100px);

                background-image: url('/Images/drm-turf-logo.png');
                background-repeat: no-repeat;
                background-size: 90% auto;
                background-position: bottom;
            }

.board {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}


.sign {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
    width: 50px;
    height: 50px;
}

footer {
    width: 100%;
    height: 120px;
    border: none !important;

    background-color: blue;
}