/* Board */

* {
    padding: 0px;
    border: 0px;
    margin: 0px;

    max-width: none !important;
}

.clear {
    clear: both;
}

body {
    min-width: 1120px;
    width: calc(100% - 240px);
    background-color: rgb(240, 240, 240);

    padding: 16px 120px 16px 120px;

    font-family: Arial;
}

header {
    height: calc(60px - 12px);
    padding: 6px 24px;

    border-radius: 4px 4px 0px 0px;
    background-color: white;
}

    .header-nav {
        float: right;
        margin: 16px 0px 0px 0px;
    }

        .header-nav a {
            padding: 0px 12px;
            font-weight: bold;
            color: black;
            font-family: Verdana;
            text-decoration: none;
            font-size: 16px;
        }

        .header-nav a:hover {
            color: darkgreen;
        }

        .current-page {
            text-decoration: underline !important;
        }

    .header-logo-dog {
        display: inline;
        float: left;
        width: 38px;
        height: 48px;
        background-image: url('/Images/drm-dog.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header-logo-txt {
        display: inline;
        float: left;
        width: 260px;
        height: 28px;
        margin: 12px 0px 0px 10px;
        background-image: url('/Images/drm-logo.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

main {
    width: 100%;
    height: auto;

    background-color: lightgrey;
}

#main-your-page {
    width: calc(100% - 32px);
    height: 1000px;
    background-color: lightgrey;
    padding: 16px;
}

#boards-section {
    height: 800px;
}

    #boards-panel {
        width: calc(100% - 32px);
        height: calc(140px - 32px);

        padding: 16px;

        background-color: lightgrey;

        border-bottom: 1px solid grey;
    }

        #signs {
            display: inline-block;
            width: 40%;
            height: calc(100% - 32px);

            padding: 16px;
            border: 1px solid black;

            overflow-y: scroll;

            background-color: rgb(255, 255, 255);
        }

        #toggle-line-color {
            display: inline-block;
            width: 80px;
            max-height: 100%;

            background-color: transparent;
        }

        /*** Code for toggle button: ***/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/* Text change logic */
.switch-description:before {
    content: "Dark";
    color: black;
    transition: color 0.4s;
}

.switch-description:after {
    content: "Light";
    color: transparent;
    transition: color 0.4s;
}

input:checked ~ .switch-description:before {
    color: transparent;
}

input:checked ~ .switch-description:after {
    color: black;
}

        /*** Code for toggle button ends. ***/

    .side-panel {
        float: left;
        display: inline;
        width: calc(240px - 32px);
        height: calc(100% - 140px - 32px);
        padding: 16px;
        background-color: red;
    }

    #boards-side-panel {

    }

#board-padding {
    float: left;
    display: inline;
    width: calc(100% - 240px - 32px);
    height: calc(100% - 140px - 32px);

    padding: 16px;
    background-color: lightgrey;
}

    #board {
        width: 100%;
        height: 100%;
        background-image: url('/Images/grass-texture-repeat.jpg');
        background-repeat: repeat;
        background-size: 200px;
        border-radius: 4px;
    }

        #board-lines {
            width: 100%;
            height: 100%;

            position: relative;

            background-image: url('/Images/dog-rally-track-grass-light-two.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 800px;
        }

            #grass-logo {
                width: 200px;
                height: 200px;

                position: absolute;
                top: calc(50% - 100px);
                left: calc(50% - 100px);

                background-image: url('/Images/drm-turf-logo.png');
                background-repeat: no-repeat;
                background-size: 90% auto;
                background-position: bottom;
            }

.sign {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
    width: 50px;
    height: 50px;
}

footer {
    width: calc(100% - 32px);
    height: 120px;

    padding: 16px;

    border-radius: 0px 0px 4px 4px;
    background-color: grey;
}