#chat {

}

/* Create a function that toggles the class #chat between .chat-minimized and 
    .chat-expanded to show and hide the chat-window. */

.chat-minimized {
    width: 64px;
    height: 64px;
    border-radius: 24px 24px;
    position: fixed;
    right: 16px;
    bottom: 16px;
    background-color:  darkolivegreen;
    background-image: url("/images/speech-bubble.png");
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
}

    #chat-notifications {
        padding: 0px 2px 0px 2px;
        text-align: center;
    }

    /* If chat has not been opened since messages have been received, set class 
        of #chat-notifications to .chat-unread and the content of #unread-amount 
        to number of messages received since the last time the chat was expanded. */

    .chat-minimized .chat-unread {
        min-width: 18px;
        height: 18px;

        position: fixed;

        right: 64px;
        bottom: 64px;

        border-radius: 50% 50%;
        background-color: red;

        font-size: 0.8em;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }

    .chat-minimized .chat-read {
        width: 12px;
        height: 12px;
        background-color: red;
        color: rgb(255, 255, 255);
    }

    .chat-minimized #chat-history {
        display: none;
    }

    .chat-minimized #chat-write {
        display: none;
    }

    .chat-minimized #chat-send {
        display: none;
    }

.chat-expanded {
    width: 240px;
    height: 320px;

    position: fixed;
    right: 16px;
    bottom: 16px;

    padding: 12px;
    border: 1px solid black;
    background-color: grey;

    cursor: pointer;
    overflow: hidden;
}

    .chat-expanded #chat-notifications {
        display: none;
    }

    .chat-expanded #chat-history {
        width: 216px;
        height: 250px;
        overflow: scroll;
        padding: 6px;
        background-color: white;
        color: black;
    }

        .chat-expanded #chat-history .message-sent {
            width: 90%;

            float: right;
            padding: 6px;

            margin-bottom: 12px;

            background-color: green;
            list-style-type: none;
            text-align: left;
        }

        .chat-expanded #chat-history .message-response {
            width: 90%;
            float: left;
            padding: 6px;
            background-color: blue;
            list-style-type: none;
            text-align: left;
        }

    .chat-expanded #chat-write {
        width: 166px;
        height: 32px;
        margin: 0px;
    }

    .chat-expanded #chat-send {
        width: 20%;
        height: 32px;
        margin: 0px;
    }

.chat-offline {
    width: 64px;
    height: 64px;
    border-radius: 24px 24px;
    position: fixed;
    right: 16px;
    bottom: 16px;
    background-color: grey;
    background-image: url("/images/speech-bubble.png");
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
}

    .chat-offline #chat-notifications {
        display: none;
    }

    .chat-offline #chat-history {
        display: none;
    }

    .chat-offline #chat-write {
        display: none;
    }

    .chat-offline #chat-send {
        display: none;
}