
/* GLOBAL */

* {
    /* If we are using frameworks like Bootstrap, avoid using global reset rules to ensure styling does as expected. - Nicolai */
    padding: 0px; /* Breaking my own rules, temporarily. */
    margin: 0px;
}

p {
    margin: 0px; /* I know. */
}

/********************/
/****** MOBILE ******/
/********************/

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/********************/
/****** TABLET ******/
/********************/

/********************/
/***** DESKTOP ******/
/********************/

html {
    font-size: 14px;
    font-family: Arial, sans-serif;

    background-color: rgb(240, 240, 240)
}

    body {
        margin: 0px;
        padding: 0px;
        background-color: rgba(0, 0, 0, 0);
    }

        header {

        }

            .nav-item {
                margin-right: 10px;
            }

            .nav-link {
                color: white;
            }

            .nav-link:hover {
                color: #f0f0f0;
            }

        main {

        }

        footer {

        }

/* HOME PAGE/INDEX */

    /* body */

#drm-logo-loading {
    width: 534px;
    height: 240px;

    margin: calc(50vh - 200px) auto 0px auto;

    background-image: url("../Images/drm-dog-logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* LOG IN PAGE */

    #login-form {
        width: 480px;
        height: 540px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(200, 200, 200);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 40px;
        margin: calc(50vh - 260px) auto 0px auto;
    }

        #drm-logo-login-form {
            width: 268px;
            height: 120px;
            
            margin: 20px auto 60px auto;
            background-image: url(../Images/drm-dog-logo.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

        }

        #login-form input[type="text"],
        #login-form input[type="password"],
        #login-form input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid rgb(200, 200, 200);
            border-radius: 3px;
            box-sizing: border-box;
        }

        #login-form input[type="text"]:focus,
        #login-form input[type="text"]:focus,
        {
            border: 1px solid black; /* Not working */
        }

        #remember-me {
            margin: 12px 0px;
        }

        #login-form input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        #login-form input[type="submit"]:hover {
            background-color: #45a049;
        }

        #no-account {
            width: 100%;
            text-align: center;
        }

        #sign-up{
            width: 100%;
            text-align: center;
        }

        #sign-up:hover {
            width: 100%;
            text-align: center;
            color: darkblue;
        }