
/* GLOBAL */

* {
    /* If we are using frameworks like Bootstrap, avoid using global reset rules to ensure styling does as expected. - Nicolai */
    padding: 0px; /* Breaking my own rules, temporarily. */
    margin: 0px;
}

p {
    margin: 0px; /* I know. */
}

/********************/
/****** MOBILE ******/
/********************/

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/********************/
/****** TABLET ******/
/********************/

/********************/
/***** DESKTOP ******/
/********************/

html {
    font-size: 14px;
    font-family: Arial, sans-serif;

    background-color: rgb(240, 240, 240)
}

    body {
        margin: 0px;
        padding: 0px;
        background-color: rgba(0, 0, 0, 0);
    }

        header {

        }

            .nav-item {
                margin-right: 10px;
            }

            .nav-link {
                color: white;
            }

            .nav-link:hover {
                color: #f0f0f0;
            }

        main {

        }

            /* General styling of forms. */

            .form-logo {
                width: 268px;
                height: 120px;
                margin: 20px auto 60px auto;
                background-image: url(../Images/drm-dog-logo.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            input[type="text"],
            input[type="password"],
            input[type="submit"],
            input[type="email"] {
                width: 100%;
                padding: 10px;
                margin-bottom: 20px;
                border: 1px solid rgb(200, 200, 200);
                border-radius: 3px;
                box-sizing: border-box;
            }

            input[type="text"]:focus,
            input[type="password"]:focus,
            input[type="email"]:focus {
                border: 1px solid black; /* It is not working. Is it determined by the browser? */
            }

            input[type="submit"] {
                background-color: #4CAF50;
                color: white;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            input[type="submit"]:hover {
                background-color: #45a049;
            }

        footer {

        }

/* HOME PAGE/INDEX */

    /* body */

        #drm-logo-loading {
            width: 534px;
            height: 240px;

            margin: calc(50vh - 200px) auto 0px auto;

            background-image: url("../Images/drm-dog-logo.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        #chase {
            display: flex;
            justify-content: center;

            padding: 40px;
        }

            #chase p {
                padding-right: 2px;
                font-weight: 500;
            }

            @keyframes dots {
                from {opacity: 0;}
                to {opacity: 1;}
            }

            #dot-one {
                opacity: 0;
                animation-name: dots;
                animation-delay: 1s;
                animation-duration: 0.1s;
                animation-fill-mode: forwards;
            }

            #dot-two {
                opacity: 0;
                animation-name: dots;
                animation-delay: 2s;
                animation-duration: 0.1s;
                animation-fill-mode: forwards;
            }

            #dot-three {
                opacity: 0;
                animation-name: dots;
                animation-delay: 3s;
                animation-duration: 0.1s;
                animation-fill-mode: forwards;
            }

/* LOG IN PAGE */

        #login-form {
            width: 480px;
            height: 540px;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(200, 200, 200);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 40px;
            margin: calc(50vh - 260px) auto 0px auto;
        }

            #remember-me {
                margin: 12px 0px;
            }

            #no-account {
                width: 100%;
                text-align: center;
            }

            #sign-up{
                width: 100%;
                text-align: center;
            }

            #sign-up:hover {
                width: 100%;
                text-align: center;
                color: darkblue;
            }

/* LOG IN PAGE */

        #register-form {
            width: 480px;
            min-height: 620px;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(200, 200, 200);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 40px 40px 24px 40px;
            margin: calc(50vh - 310px) auto 0px auto;
        }

            #register-form input[type="submit"] {
                margin: 24px 0px 20px 0px;
            }

/* LOG IN PAGE */

